@font-face {
  font-family: "JuliusSansOne";
  src: url("../fonts/JuliusSansOne-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "ONEMobilePOP";
  src: url("../fonts/ONE Mobile POP.ttf");
}
@font-face {
  font-family: "ONEMobileLight";
  src: url("../fonts/ONE Mobile Light.ttf");
}
@font-face {
  font-family: "ONEMobileTitle";
  src: url("../fonts/ONE Mobile Title.ttf");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* height: calc(var(--vh, 1vh) * 100); */
  max-width: 100%;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

main {
  position: fixed;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fill-screen {
  height: 100vh;
  width: 100vw;
} /* iOS only */

:root {
  --vh: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 50%;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #efdfbf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc0d0;
}
